<% include include/header.ejs %>
<div class="content">
	<div class="content-header">
		<div class="page-title">
			<h3>Settings</h3>
		</div>
		<div class="page-breadcumb">
			
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a href="#">Home</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Settings</li>
			  </ol>
			</nav>
		</div>
	</div>			
	<div class="content-body">
		<div class="panel">
				<div class="panel-header d-flex align-items-center justify-content-between">
						<div class="panel-title">
							<i class="fa fa-book"></i> 	   Settings
						</div>
				</div>
				<div class="panel-body">
					
				</div>
			</div>
<% include include/footer.ejs %>